@import "src/variablesStyle";

.card {
  text-align: center;
  color: white;
  width: 150px;
  height: 150px;
  background: rgb(255, 255, 255);
  background: linear-gradient(137deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  margin: 5px;
  cursor: pointer;
}

.span {
  display: block;
  margin-top: 7px;
  font-size: 19px;
  font-family: $bodyCardFonts;
}

.spanBold {
  font-weight: bold;
  font-family: $bodyCardFonts;
  font-size: 50px;
}

.card:hover {
  box-shadow: -100px -97px 100px 100px rgba(255, 255, 255, 0.2) inset;
  transition: 0.7s;
}

