@import 'src/variablesStyle';

.header {
  height: 80px;
  box-shadow: 0 0 2px 0 #ffffff;
  position: relative;
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
}

.container {
  position: relative;
  z-index: 3;
  color: #ffffff;
  text-align: center;
  max-width: $maxWidth;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrap {
  box-shadow: 0 0 2px 0 #ffffff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  background: linear-gradient(to right, #ffffff 7px, transparent 0, transparent calc(100% - 7px), #ffffff 0) 0 0 / 100% 2px no-repeat,
  linear-gradient(to right, #ffffff 7px, transparent 0, transparent calc(100% - 7px), #ffffff 0) 0 100% / 100% 2px no-repeat,
  linear-gradient(to bottom, #ffffff 7px, transparent 0, transparent calc(100% - 7px), #ffffff 0) 0 0 / 2px 100% no-repeat,
  linear-gradient(to bottom, #ffffff 7px, transparent 0, transparent calc(100% - 7px), #ffffff 0) 100% 0 / 2px 100% no-repeat;
}

.burgerMenuIcon {
  position: absolute;
  background-image: url("src/assets/burger.png");
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;
  display: none;
  cursor: pointer;
  font-size: $headerFonts;
}

.btnWrap {
  display: flex;
}

@media screen and (max-width: 855px) {
  .burgerMenuIcon {
    display: inline-block;
  }
}
