@import "src/variablesStyle";

.bergerWrap {
  position: absolute;
  padding: 5px;
  border: 2px solid red;
  background-color: #203d52;
  font-family: $headerFonts;
  width: 100%;
  height: 150px;
  top: 80px;
  color: #ffffff;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: $headerFonts;
}

@media screen and (min-width: 855px) {

  .bergerWrap {
    display: none;
  }
}
